/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import '~bootstrap/dist/css/bootstrap.css';
@import '~@fortawesome/fontawesome-free/css/all.css';

body {
  height: 100vh;
  color: white;
  background-color: #0e0e10;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
}

button {
  border: none;
}